header{
    background-color: aqua
}

.nav-img
{
    width: 42px;
    height: 40px;
}

.row img{
    width: 56px;
}

.container{
    margin-bottom: 50px;
}
.nav-link img{
    width: 42px;
    height: 50px;
}

body{
    background-color: aquamarine;
}
.top-player{
    background-color: white;
    height: 500px;
}



